* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  margin: 1.5rem auto;
  text-align: center;
  font-size: 36px;
}

/* classes */
.task input:checked ~ label {
  text-decoration: line-through;
}

.task-input-box {
  background-color: white;
  border-radius: 10px;
  width: 700px;
  margin: auto;
  height: auto;
  box-shadow: 5px 5px 5px gray;
}

.task-input-innerbox {
  padding: 1rem;
}

.task-input-textbox {
  width: 600px;
  height: 30px;
  display: inline-block;
  border: none;
  font-size: 16px;
}

.task-input-textbox:focus {
  outline: none;
}

.fa-info-circle {
  padding-left: 1rem;
}

.task-list {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  width: 700px;
  list-style: none;
}

.task {
  background-color: white;
  padding: 1rem;
}

.p-1 {
  padding: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

/* dark mode styles */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #282c34;
    color: #abb2bf;
  }

  #taskInput {
    color: #abb2bf;
  }

  .task-input-box,
  .task-list,
  .task-input-textbox,
  .task {
    background-color: #434957;
  }

  .task-input-box {
    box-shadow: 5px 5px 5px #21252b;
  }

  .task input:checked ~ label {
    text-decoration: line-through;
    color: #5c6370;
  }
}
