* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: whitesmoke;
}

nav {
    margin: 1.5rem auto;
    text-align: center;
    font-size: 36px;
}


/* classes */
.task-input-box {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    margin: auto;
    height: auto;
    box-shadow: 5px 5px 5px gray;
}

.task-input-innerbox {
    padding: 1rem;
}

.task-input-textbox{
    width: 600px;
    height: 30px;
    display: inline-block;
    border: none;
    font-size: 16px;
}

.task-input-textbox:focus {
    outline: none;
}

.fa-info-circle {
    padding-left: 1rem;
}

.task-list {
    background-color: white;
    padding: 1;
    border-radius: 10px;
    margin: auto;
    width: 700px;
}

.task {
    background-color: white;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}